node_modules
# Keep environment variables out of version control
.env
dist
yarn-error.log
yarn.lock
package-lock.json
src/adapters/aliexpress
src/adapters/interfaces/IAliexpressAdapter.ts
src/routes/products.routes.ts
src/routes/user.routes.ts
src/routes/facebook.routes.ts
src/modules/Products
src/repositories/Products